<h1> <%= @question.test.title %> </h1>
<p>
  <%= @question.body %>
</p>

<h2>Answers</h2>

<%= link_to "<button>New answer</button>".html_safe, new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<br/>
<%= link_to "<button>Edit</button>".html_safe, edit_question_path(@question) %>
<%= link_to "<button>Back</button>".html_safe, test_path(@question.test) %>
