<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<h2 style="color:<%= @test_passage.success? ? 'green' : 'red' %>">
  <%= @test_passage.success? ? t('.passed') : t('.failed') %>
</h2>
<p>
  <%= t('.message', correct_questions: @test_passage.correct_questions, count: @test_passage.test.questions.count) %>
</p>

<p>
  <%= link_to t('.tests_link'), tests_path %>
</p>
