<nav class='navbar navbar-light bg-light'>
     <%= link_to 'TestGuru', root_path, class: 'navbar-brand'%>
     <span class='navbar-text'>
        <% if user_signed_in? %>
          <% if current_user.type == 'Admin' %>
            <%= link_to 'Admin panel',  admin_tests_path %>
          <% end %>
          Welcome, <b><%= current_user.email %></b> to TestGuru
      </span>
      <%= button_to 'LogOut', destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
        <% else %>
        <span class='navbar-text'>
           <%= link_to 'Registration', new_user_registration_path %>
           <%= link_to 'Login', new_user_session_path %>
           Welcome, <b>NoName</b> to TestGuru
        </span>
        <% end %>
</nav>
