<nav class='navbar navbar-light bg-light'>
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand'%>
    <span class='navbar-text'>
      <% if user_signed_in? %>
        <% if current_user.type == 'Admin' %>
          <%= link_to t('.admin_panel'),  admin_tests_path %>
        <% end %>
        <%= t('.welcome', name: current_user.email) %>
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
        <%= link_to t('.send_feedback'), feedback_path%>
    </span>
      <% else %>
      <span class='navbar-text'>
        <%= link_to t('.registration'), new_user_registration_path %>
        <%= link_to t('.login'), new_user_session_path %>
        <%= t('.welcome', name: 'NoName') %>
      </span>
      <% end %>
</nav>
