<div class="container d-flex justify-content-center">
  <div class="card mt-5 pb-5">
    <div class="card-header"><%= t('.header') %></div>
    <div class="mt-2 p-4 text-center">
      <h6 class="mb-0"><%= t('.header_message')%></h6>
      <%= form_with url: feedback_path, local: true, method: :post do |f| %>
        <div class="form-group mt-4">
          <%= f.text_area :feedback, rows: 10, autofocus: true, class: 'form-control', placeholder: t('.message') %>
        </div>
        <div class="mt-2">
          <%= f.submit t('.send'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>