<% if @tests.present? %>
  <table>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
      <th colspan="3"><%= t('.actions') %></th>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <h1><%= t('.no_tests') %></h1>
<% end %>
<p>
  <%= link_to t('.add_new'), new_admin_test_path %>
</p>
