<h1>Test <%= @test.title %></h1>

<h2><em>Questions:</em></h2>

<%= render @questions %>
<br>

<div>
  <%= link_to "Add new question", new_admin_test_question_path(@test) %>
</div>
<div>
  <%= link_to "Edit test", edit_admin_test_path(@test) %>
</div>
<div>
  <%= link_to "List of tests", admin_tests_path %>
</div>
