<h1><%= t('.header', title: @test.title) %></h1>

<h2><em><%= t('.questions') %></em></h2>

<%= render @questions %>
<br>

<div>
  <%= link_to t('.add_new_question'), new_admin_test_question_path(@test) %>
</div>
<div>
  <%= link_to t('.edit'), edit_admin_test_path(@test) %>
</div>
<div>
  <%= link_to t('.tests_list'), admin_tests_path %>
</div>
