<table class="table table-hover">
  <thead >
    <tr>
      <th class = "sort-by-title pointer" scope="col" style="text-align: center">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col" style="text-align: center"><%= t('.level') %></th>
      <th scope="col" style="text-align: center"><%= t('.questions_count') %></th>
      <th scope="col" style="text-align: center"><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td style="text-align: center"><%= test.title %></td>
      <td style="text-align: center"><%= test.level %></td>
      <td style="text-align: center"><%= test.questions.count %></td>
      <td style="text-align: center"><%= link_to t('.start'), start_test_path(test), class: 'btn btn-primary', display: 'inline-block' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
