<table>
  <thead >
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= link_to t('.start'), start_test_path(test) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
